.App {
  text-align: center;
}

.form {
  display:flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  margin: 20px;
  
}

.cards {
  min-height: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cards > div {
  flex-basis: calc(33.33% - 40px)
}

.sort {
  display:block;
}

